<launch>
  <node name="make_decision" pkg="decision_make" type="make_decision.py" />
  <node name="diagnose" pkg="decision_make" type="diagnose.py" />
  <node name="master_discovery" pkg ="master_discovery_fkie" type="master_discovery" >
    <param name="mcast_group" value="224.0.0.1" />
    <param name="heatbeat_hz" value="2" />
  </node>
  <node name="master_sync" pkg="master_sync_fkie" type="master_sync" />
  <node name="gyro" pkg="sensors" type="gyro.py"/>
  <node name="accelerometer" pkg="sensors" type="acc.py"/>
  <node name="magnometer" pkg="sensors" type="magno.py"/>
  <node name="communication" pkg="communication" type="i2c_communication.py" output="screen"/>
</launch>
